@mixin heading_375 {
    font-size:80px;
}
@mixin heading_2000 {
    font-size:125px;
}
@mixin heading_2500 {
    font-size:156px;
}
@mixin heading_3125 {
    font-size:195px;
}
@mixin heading_3850 {
    font-size:243px;
}


@mixin headingh2_375 {
    font-size:62px;
}
@mixin headingh2_2000 {
    font-size:92px;
}
@mixin headingh2_2500 {
    font-size:119px;
}
@mixin headingh2_3125 {
    font-size:145px;
}
@mixin headingh2_3850 {
    font-size:181px;
}


@media (max-width:265px) {
    .demo_heading {
        font-size:24px;
    }
    .demo_images h2 {
        font-size:20px;
    }
    .features h2 {
        font-size:14px;
    }
    .features_heading {
        font-size:24px;
    }
    .features i {
        font-size:20px;
    }
    h1 {
        @include heading_375;
    }
    h2 {
        font-size:calc(0.7vw + 0.7em);
    } 
    .preview_choose {
        font-size:calc(0.9vw + 0.9em);
    }
    .preview_images {
        margin-top:25px;
        padding:0;
    }
    .preview_images_image {
        margin-top:50px;
    }
    .preview-images-image-background {
        display:flex;
        justify-content:center;
        margin-top:50px;
    }
    .preview-images-image-light {
        display:flex;
        justify-content:center;
        margin-top:50px;
    }
    .preview-images-image-menu {
        display:flex;
        justify-content:center;
    }
    .preview-images-image-prime {
        display:flex;
        justify-content:center;
    }
    .preview_link {
        display:none;
    }
    .preview_tourism {
        font-size:calc(0.9vw + 0.9em);
    }
}


@media (min-width:266px) and (max-width:375px) {
    .demo_heading {
        font-size:24px;
    }
    .demo_images h2 {
        font-size:20px;
    }
    .features {
        h2 {
            font-size:16px;
        }
        .features_heading {
            font-size:24px;
        }
        i {
            font-size:20px;
        }
        img {
            height:14px;
            width:19px;
        }
    }
    h1 {
        @include heading_375;
    }
    h2 {
        font-size:calc(0.8vw + 0.8em);
    } 
    .inner {
        .inner_heading {
            font-size:24px;
        }
        .inner_images {
            h2 {
                font-size:20px;
            }
        }
    }
    .preview {
        .preview_choose {
            font-size:calc(0.9vw + 0.9em);
        }
        .preview_documentation {
            right:0;
        }
        h1 {
            font-size:50px;
        }
        h2 {
            font-size:20px;
        }
        .preview_images {
            margin-top:25px;
            padding:0;
        }
        .preview_images_image {
            margin-top:50px;
        }
        .preview-images-image-background {
            display:flex;
            justify-content:center;
            margin-top:50px;
        }
        .preview-images-image-light {
            display:flex;
            justify-content:center;
            margin-top:50px;
        }
        .preview-images-image-menu {
            display:flex;
            justify-content:center;
        }
        .preview-images-image-prime {
            display:flex;
            justify-content:center;
        }
        .preview_link {
            display:none;
        }
        .preview_template {
            font-size:20px;
        }
        .preview_tourism {
            font-size:calc(0.9vw + 0.9em);
        }
        .preview_welcome {
            font-size:25px;
        }
    }
}


@media (min-width:376px) and (max-width:576px) {
    .demo_heading {
        font-size:24px;
    }
    .demo_images h2 {
        font-size:20px;
    }
    .features {
        h2 {
            font-size:20px;
        }
        .features_heading {
            font-size:24px;
        }
        i {
            font-size:20px;
        }
        img {
            height:14px;
            width:19px;
        }
    }
    .inner {
        .inner_heading {
            font-size:24px;
        }
        .inner_images {
            h2 {
                font-size:20px;
            }
        }
    }
    .preview {
        .preview_documentation {
            right:0;
        }
        h1 {
            font-size:50px;
        }
        h2 {
            font-size:20px;
        }
        .preview_link {
            display:none;
        }
        .preview_images {
            margin-top:25px;
            padding:0;
        }
        .preview_images_image {
            margin-top:50px;
        }
        .preview-images-image-background {
            display:flex;
            justify-content:center;
            margin-top:50px;
        }
        .preview-images-image-light {
            display:flex;
            justify-content:center;
            margin-top:50px;
        }
        .preview-images-image-menu {
            display:flex;
            justify-content:center;
        }
        .preview-images-image-prime {
            display:flex;
            justify-content:center;
        }
        .preview_template {
            font-size:20px;
        }
        .preview_tourism {
            font-size:calc(0.75vw + 0.75em);
        }
        .preview_welcome {
            font-size:25px;
        }
    }
}


@media (min-width:577px) and (max-width:768px) {
    .demo_heading {
        font-size:36px;
    }
    .features_heading {
        font-size:36px;
    }
    .inner {
        .inner_heading {
            font-size:36px;
        }
    }
    .preview {
        .preview_documentation {
            right:0;
        }
        h1 {
            font-size:50px;
        }
        .preview_link {
            display:none;
        }
        .preview_images {
            margin-top:25px;
            padding:0;
        }
        .preview_images_image {
            margin-top:50px;
        }
        .preview-images-image-background {
            display:flex;
            justify-content:center;
            margin-top:50px;
        }
        .preview-images-image-light {
            display:flex;
            justify-content:center;
            margin-top:50px;
        }
        .preview-images-image-menu {
            display:flex;
            justify-content:center;
        }
        .preview-images-image-prime {
            display:flex;
            justify-content:center;
        }
        .preview_welcome {
            font-size:25px;
        }
    }
}


@media (max-width:768px) {
    .preview {
        .preview_top_heading {
            font-size:80px;
        }
    }
}


@media (min-width:769px) and (max-width:992px) {
    .preview_link {
        display:none;
    }
    .preview_images {
        margin-top:25px;
        padding:0;
    }
    .preview_images_image {
        margin-top:50px;
    }
    .preview-images-image-background {
        display:flex;
        justify-content:center;
        margin-top:50px;
    }
    .preview-images-image-light {
        display:flex;
        justify-content:center;
        margin-top:50px;
    }
    .preview-images-image-menu {
        display:flex;
        justify-content:center;
    }
    .preview-images-image-prime {
        display:flex;
        justify-content:center;
    }
}


@media (min-width:993px) and (max-width:1200px) {
    .preview_link {
        display:none;
    }
    .preview_images {
        margin-top:25px;
        padding:0;
    }
    .preview_images_image {
        margin-top:50px;
    }
    .preview-images-image-background {
        display:flex;
        justify-content:center;
        margin-top:50px;
    }
    .preview-images-image-light {
        display:flex;
        justify-content:center;
        margin-top:50px;
    }
    .preview-images-image-menu {
        display:flex;
        justify-content:center;
    }
    .preview-images-image-prime {
        display:flex;
        justify-content:center;
    }
}


@media (min-width:2001px) and (max-width:2500px) {
    .demo {
        margin-top:233px;
    }
    .demo_content {
        margin-top:116px;
    }
    .demo_heading {
        font-size:75px;
    }
    .demo_images h2 {
        font-size:38px;
    }
    .demo_version {
        box-shadow:0 0 16px rgba(33, 33, 33, .6); 
        .version {
            font-size:37px;
        }
    }
    .demo_version:hover {
        box-shadow:0 0 16px rgba(33, 33, 33, .8); 
    }
    .footer {
        font-size:25px;
        height:77px;
        margin-top:233px;
    }
    h1 {
        @include heading_2500;
    }
    .inner {
        margin-top:233px;
        .inner_heading {
            font-size:75px;
        }
        .inner_images {
            h2 {
                font-size:38px;
            }
        }
        .inner_names {
            padding:37px;
        }
    }
    .mockup {
        margin-top:233px;
    }
    .mockup_img {
        height:auto;
        width:938px;
    }
    .preview {
        .preview_button {
            margin-top:116px;
        }
        .preview_button_link {
            font-size:25px;
            padding:27px;
        }
        .preview_documentation {
            font-size:25px;
        }
        .preview_link {
            font-size:25px;
        }
        .preview_template {
            font-size:50px;
        }
        .preview_top_heading {
            font-size:312px;
        }
        .preview_welcome {
            font-size:62px;
        }
    }
}


@media (min-width:2501px) and (max-width:3125px) {
    .demo {
        margin-top:291px;
    }
    .demo_content {
        margin-top:145px;
    }
    .demo_heading {
        font-size:93px;
    }
    .demo_images h2 {
        font-size:47px;
    }
    .demo_version {
        box-shadow:0 0 20px rgba(33, 33, 33, .6); 
        .version {
            font-size:46px;
        }
    }
    .demo_version:hover {
        box-shadow:0 0 20px rgba(33, 33, 33, .8); 
    }
    .features {
        margin-top:291px;
        .features_content {
            margin-top:145px;
        }
        .features_heading {
            font-size:93px;
            margin-top:291px;
        }
        .features h2 {
            padding:20px;
        }
    }
    .footer {
        font-size:31px;
        height:96px;
        margin-top:291px;
    }
    h1 {
        @include heading_3125;
    }
    .inner {
        margin-top:291px;
        .inner_heading {
            font-size:93px;
        }
        .inner_images {
            h2 {
                font-size:47px;
            }
        }
        .inner_names {
            padding:46px;
        }
    }
    .mockup {
        margin-top:291px;
    }
    .preview {
        .preview_button {
        margin-top:145px;
    }
        .preview_button_link {
            font-size:31px;
            padding:33px;
        }
        .preview_documentation {
            font-size:31px;
        }
        .preview_link {
            font-size:31px;
        }
        .preview_logo_img {
            height:288px;
            width:288px;
        }
        .preview_template {
            font-size:62px;
        }
        .preview_top_heading {
            font-size:390px;
        }
        .preview_welcome {
            font-size:77px;
        }
    }
}


@media (min-width:3126px) {
    .demo {
        margin-top:363px;
    }
    .demo_content {
        margin-top:181px;
    }
    .demo_heading {
        font-size:116px;
    }
    .demo_images h2 {
        font-size:58px;
    }
    .demo_version {
        box-shadow:0 0 25px rgba(33, 33, 33, .6); 
        .version {
            font-size:57px;
        }
    }
    .demo_version:hover {
        box-shadow:0 0 25px rgba(33, 33, 33, .8); 
    }
    .features {
        margin-top:363px;
        .features_content {
            margin-top:181px;
        }
        .features_heading {
            font-size:116px;
            margin-top:363px;
        }
        .features h2 {
            padding:25px;
        }
    }
    .footer {
        font-size:38px;
        height:120px;
        margin-top:363px;
    }
    h1 {
        @include heading_3850;
    }
    .inner {
        margin-top:363px;
        .inner_heading {
            font-size:116px;
        }
        .inner_images {
            h2 {
                font-size:58px;
            }
        }
        .inner_names {
            padding:57px;
        }
    }
    .mockup {
        margin-top:363px;
    }
    .preview {
        .preview_button {
            margin-top:181px;
        }
        .preview_button_link {
            font-size:38px;
            padding:41px;
        }
        .preview_documentation {
            font-size:38px;
        }
        .preview_link {
            font-size:38px;
        }
        .preview_template {
            font-size:77px;
        }
        .preview_top_heading {
            font-size:488px;
        }
        .preview_welcome {
            font-size:96px;
        }
    }
}